
/* Begins the style*/
.ila-rtl .settings-btn-ila:checked ~ .layout-buttons-ila {text-align: center;}
.ila-ltr .settings-btn-ila:checked ~ .layout-buttons-ila {text-align: center;}
.settings-btn-ila:checked ~ .buttons-wrapper-ila {
  border: 5px solid #a9dd6e;
  width: 300px;
}
.settings-btn-ila:checked ~ .layout-buttons-ila {
  width: 145px;
  height: 90px;
  font-family: arial;
  font-weight: 500 !important;
  font-size: 18px !important;
  z-index: 9999999999999;
}
.settings-btn-ila:checked ~ .buttons-wrapper-ila {
  z-index: 9999999999999;
}
.settings-btn-ila:checked ~ .layout-buttons-ila.btn-full {
  width: 290px;
  height: 45px;
}
.settings-btn-ila:checked ~ .layout-buttons-ila i {font-size: 30px;}
.settings-btn-ila:checked ~ .layout-buttons-ila.btn-left i {display: block;text-align: center;}
.settings-btn-ila:checked ~ .layout-buttons-ila.btn-right i {display: block;text-align: center;}


input[type="checkbox"].inpt-ila,
input[type="radio"].inpt-ila {
  position: absolute;
  visibility: hidden;
}

.settings-box-element-ila {
  z-index: 10;
}

input[type="radio"].inpt-ila:checked + label {
  background: #A9DD6E;
  color: #444444;
  border-color: #fff;
  border-bottom-color: #fff;
}
input[type="checkbox"].inpt-ila:checked + label {
  background: #A9DD6E;
  color: #444444;
  border-color: #fff;
  border-bottom-color: #fff;
}

.layout-buttons-ila {
  display: block;
  width: 150px;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #A9DD6E;
  border-bottom-color: #A9DD6E;
  box-sizing: border-box;
  font-size: 0.875em;
  cursor: pointer;
}

#keynav-menu-ila {
  height: 30px;
  padding:2px;
  max-width: 270px;
  position: fixed;
  top: 0;
  left: 45%;
  background: white;
  display: none;
  z-index: 999999;
}
#keynav-menu-ila a {
  cursor: pointer;
  color: black;
}
#keynav-menu-ila a.selected {
  text-decoration: underline;
}
#font-size-ila a {color: black;}
#font-size-ila a.selected {text-decoration: underline;}

.settings-btn-ila + label {
    color: #444444;
    padding: 10px;
    border: 1px solid #A9DD6E;
    z-index: 9999999999999;
}
#settings-btn-ila:checked + label {
border: 1px solid #A9DD6E;
}

.layout-buttons-ila:hover {
  background: #A9DD6E;
  border-color: #fff;
  border-bottom-color: #fff;
}
#reset-layout-ila:focus {
  background: #A9DD6E;
}


.layout-buttons-ila.btn-full {padding: 5px 0;}
.btn-full {line-height: 33px;}
.btn-full i {float: left; padding: 0px 15px; min-width: 65px; text-align: center; }
 
.btn-left {line-height: 35px;}
.btn-left i {line-height: 35px;}

.btn-right {line-height: 35px;}
.btn-right i {line-height: 35px;}

#font-size-ila.btn-full {line-height: 35px; text-align: center;}
#font-size-ila.btn-full i {float: none; font-size: 1em;padding:0 3px; min-width: 15px;}
#font-size-ila.btn-full a {padding: 0 3px;}

#credit-links-ila:hover {background: #fff !important;} 
#credit-links-ila.btn-full { text-align: center;}  

#reset-layout-ila.btn-full { text-align: center;}

#copyright-link-ila {
  position: fixed;
    top: 640px;
  text-align: center;
  cursor: pointer;
  
}

/* Direction styles */
.ila-rtl #font-size-ila {direction: rtl;}
.ila-ltr #font-size-ila {direction: ltr;}
.ila-rtl .btn-full {direction: rtl;}
.ila-ltr .btn-full {direction: ltr;}
.ila-ltr .btn-full i {float: left;}
.ila-rtl .btn-full i {float: right;}
.ila-ltr .settings-btn-ila:checked ~ .layout-buttons-ila.btn-full {text-align: left;}
.ila-rtl .settings-btn-ila:checked ~ .layout-buttons-ila.btn-full {text-align: right;}
/* Start: accessibility Box Style Right */ 

.ila-right .buttons-wrapper-ila {
  position: fixed;
  top: 50px;
  right: -300px;
  width: 300px;
  height: 640px;
  background: #fff;
}

.ila-right .settings-btn-ila + label {
  position: fixed;
  top: 50px;
  right: 0;
  display: block;
  width: 45px;
  color: #444444;
  text-align: center;
  background: #fff;
  cursor: pointer;
  padding: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.ila-right .settings-btn-ila:checked + label {
  right: 300px;
  padding: 10px;
}

.ila-right .settings-btn-ila:checked ~ .buttons-wrapper-ila {
  right: 0;
}

.ila-right .settings-btn-ila:checked ~ .layout-buttons-ila.btn-full {
  right: 5px;
}
.ila-right .settings-btn-ila:checked ~ .layout-buttons-ila.btn-right {
  right: 5px;
}
.ila-right .settings-btn-ila:checked ~ .layout-buttons-ila.btn-left {
  right: 150px;
}
.ila-right .settings-btn-ila:checked ~ #font-size-ila {
  right: 5px;
}
.ila-right .settings-btn-ila:checked ~ #reset-layout-ila {
  right: 5px;
}
.ila-right .settings-btn-ila:checked ~ #credit-links-ila {
  right: 5px;
}
.ila-right .settings-btn-ila:checked ~ #copyright-link-ila {
  right: 5px;
}
/* End: accessibility Box Style Right */
/* Start: accessibility Box Style Left */

.ila-left .buttons-wrapper-ila {
  position: fixed;
  top: 50px;
  left: -200px;
  width: 200px;
  height: 640px;
  background: #fff;
}

.ila-left .settings-btn-ila + label {
  position: fixed;
  top: 50px;
  left: 0;
  display: block;
  width: 45px;
  color: #444444;
  text-align: center;
  background: #fff;
  cursor: pointer;
  padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.ila-left .settings-btn-ila:checked + label {
  left: 300px;
  padding: 10px;
}

.ila-left .settings-btn-ila:checked ~ .buttons-wrapper-ila {
  left: 0;
}


.ila-left .settings-btn-ila:checked ~ .layout-buttons-ila.btn-full {
  left: 5px;
}
.ila-left .settings-btn-ila:checked ~ .layout-buttons-ila.btn-right {
  left: 150px;
}
.ila-left .settings-btn-ila:checked ~ .layout-buttons-ila.btn-left {
  left: 5px;
}
.ila-left .settings-btn-ila:checked ~ #font-size-ila {
  left: 5px;
}
.ila-left .settings-btn-ila:checked ~ #reset-layout-ila {
  left: 5px;
}
.ila-left .settings-btn-ila:checked ~ #credit-links-ila {
  left: 5px;
}
.ila-left .settings-btn-ila:checked ~ #copyright-link-ila {
  left: 5px;
}
/* End: accessibility Box Style Left */
/* Start: accessibility Triggers Style Right */

.ila-right .grey-layout-ila + label {
  position: fixed;
  top: 145px;
  right: -150px;
}

.ila-right .inverse-layout-ila + label {
  position: fixed;
  top: 145px;
  right: -150px;
}
.ila-right .aunderline-layout-ila + label {
  position: fixed;
  top: 235px;
  right: -150px;
}
.ila-right .magnify-layout-ila + label {
  position: fixed;
  top: 235px;
  right: -150px;
}
.ila-right .bbcur-layout-ila + label {
  position: fixed;
  top: 325px;
  right: -150px;
}
.ila-right .bwcur-layout-ila + label {
  position: fixed;
  top: 325px;
  right: -150px;
}
.ila-right .hunderline-layout-ila + label {
  position: fixed;
  top: 415px;
  right: -150px;
}
.ila-right .imagetooltip-layout-ila + label {
  position: fixed;
  top: 415px;
  right: -150px;
}
.ila-right #font-size-ila {
  position: fixed;
  top: 505px;
  right: -150px;
}
.ila-right .aniblock-layout-ila + label {
  position: fixed;
  top: 100px;
  right: -150px;
}
.ila-right .keyboard-layout-ila + label {
  position: fixed;
  top: 55px;
  right: -150px;
}
.ila-right #reset-layout-ila {
  position: fixed;
  top: 550px;
  right: -150px;
}
.ila-right #credit-links-ila {
  position: fixed;
  top: 595px;
  right: -150px;
}
.ila-right #copyright-link-ila {
  position: fixed;
  right: -150px;
}

/* End: accessibility Triggers Style Right */
/* Start: accessibility Triggers Style Left */

.ila-left .grey-layout-ila + label {
  position: fixed;
  top: 145px;
  left: -150px;
}

.ila-left .inverse-layout-ila + label {
  position: fixed;
  top: 145px;
  left: -150px;
}
.ila-left .aunderline-layout-ila + label {
  position: fixed;
  top: 235px;
  left: -150px;
}
.ila-left .magnify-layout-ila + label {
  position: fixed;
  top: 235px;
  left: -150px;
}
.ila-left .bbcur-layout-ila + label {
  position: fixed;
  top: 325px;
  left: -150px;
}
.ila-left .bwcur-layout-ila + label {
  position: fixed;
  top: 325px;
  left: -150px;
}
.ila-left .hunderline-layout-ila + label {
  position: fixed;
  top: 415px;
  left: -150px;
}
.ila-left .imagetooltip-layout-ila + label {
  position: fixed;
  top: 415px;
  left: -150px;
}
.ila-left #font-size-ila {
  position: fixed;
  top: 505px;
  left: -150px;
}
.ila-left .aniblock-layout-ila + label {
  position: fixed;
  top: 100px;
  left: -150px;
}
.ila-left .keyboard-layout-ila + label {
  position: fixed;
  top: 55px;
  left: -150px;
}
.ila-left #reset-layout-ila {
  position: fixed;
  top: 550px;
  left: -150px;
}
.ila-left #credit-links-ila {
  position: fixed;
  top: 595px;
  left: -150px;
}
.ila-left #copyright-link-ila {
  position: fixed;
  left: -150px;
}
/* End: accessibility Triggers Style Left */

/* Start: Smaller controls style  for mobile */
@media screen and (max-width: 767px) {
  /* Left styles */
  .settings-btn-ila:checked ~ .layout-buttons-ila.btn-full {
    width: 250px;
    height: 35px;
  }
  .settings-btn-ila:checked ~ .layout-buttons-ila {
	width: 125px;
  }
  .ila-left .settings-btn-ila:checked ~ .layout-buttons-ila.btn-right   {
    left: 130px;
  }
  .settings-btn-ila:checked ~ .buttons-wrapper-ila {
    width: 260px;
  }
  .ila-left .settings-btn-ila:checked + label {
    left: 260px;
    padding: 10px;
  }
  .settings-btn-ila:checked ~ .layout-buttons-ila i {
    font-size: 20px;
  }
  .settings-btn-ila:checked ~ .layout-buttons-ila {
	font-size: 16px !important;
  }
  .btn-right i {
    line-height: 10px;
  }
  .btn-left i {
    line-height: 10px;
  }
  .settings-btn-ila:checked ~ .layout-buttons-ila {
	    height: 60px;
  }
  .btn-full {
    line-height: 25px;
  } 
  .ila-left .aniblock-layout-ila + label {top: 90px;}
  .ila-left .grey-layout-ila + label {top: 125px;}
  .ila-left .inverse-layout-ila + label {top: 125px;}
  .ila-left .aunderline-layout-ila + label {top: 185px;}
  .ila-left .magnify-layout-ila + label {top: 185px;}
  .ila-left .bbcur-layout-ila + label {top: 245px;}
  .ila-left .bwcur-layout-ila + label {top: 245px;}
  .ila-left .hunderline-layout-ila + label {top: 305px;}
  .ila-left .imagetooltip-layout-ila + label {top: 305px;}
  .ila-left #font-size-ila {top: 365px;}
  .ila-left #reset-layout-ila {top: 400px;}
  .ila-left #credit-links-ila {top: 435px;}
  #copyright-link-ila {top: 470px;}
  .ila-left .buttons-wrapper-ila {height: 460px;}
  /* Right styles */
  .ila-right .settings-btn-ila:checked ~ .layout-buttons-ila.btn-left {right: 130px;}
  .ila-right .settings-btn-ila:checked + label {right: 260px;}
  .ila-right .aniblock-layout-ila + label {top: 90px;}
  .ila-right .grey-layout-ila + label {top: 125px;}
  .ila-right .inverse-layout-ila + label {top: 125px;}
  .ila-right .aunderline-layout-ila + label {top: 185px;}
  .ila-right .magnify-layout-ila + label {top: 185px;}
  .ila-right .bbcur-layout-ila + label {top: 245px;}
  .ila-right .bwcur-layout-ila + label {top: 245px;}
  .ila-right .hunderline-layout-ila + label {top: 305px;}
  .ila-right .imagetooltip-layout-ila + label {top: 305px;}
  .ila-right #font-size-ila {top: 365px;}
  .ila-right #reset-layout-ila {top: 400px;}
  .ila-right #credit-links-ila {top: 435px;}
  .ila-right .buttons-wrapper-ila {height: 460px;}
  
}

/* End: Smaller controls style  for mobile */

/* Start: accessibility Effects Style */
html:not(#wrap-ila) body.grey-effect-ila > :not(#wrap-ila) {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}
html:not(#wrap-ila) body.inverse-effect-ila > :not(#wrap-ila) {
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -ms-filter: invert(1);
    -o-filter: invert(1);
    filter: invert(1);
}
html:not(#wrap-ila) body.magnify-effect-ila > :not(#wrap-ila) {
    zoom: 130% !important;
}
.aunderline-effect-ila a {
  text-decoration: underline !important;
}
.aunderline-effect-ila #wrap-ila a {
  text-decoration: none;
}
.bbcur-effect-ila {
  cursor: url('data:image/png;base64,\
  iVBORw0KGgoAAAANSUhEUgAAABkAAAAtCAYAAABbAsDYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3Ag\
  SUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEs\
  DIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMB\
  APh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAn\
  f+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7\
  AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHg\
  g/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48\
  PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5\
  WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8/\
  /UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv\
  1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVI\
  HfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPE\
  bDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0\
  JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD\
  5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgX\
  aPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHK\
  CpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGg\
  sV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIp\
  G6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79u\
  p+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYP\
  jGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnu\
  trxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0H\
  DYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRK\
  dPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh\
  7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5\
  QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85\
  ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhO\
  OJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9\
  MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQ\
  N5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWF\
  fevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9W\
  tO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ\
  +7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTra\
  dox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ7\
  52PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L15\
  8Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9D\
  BY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70\
  VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADq\
  YAAAOpgAABdvkl/FRgAAAn5JREFUeNq0mGGOojAUx/9tpELQoEaCgrjjDbzB4klmr7A3cE8wV5ibjEfwCLPRmPAF/EACYmL3\
  w7YEZ0BF4CVNbAv8+b33+koFgA/RlqhhnPPS1gHgiesGaMlo7vcrgDWAlzaEOCGEA5DNa9pdFABUVcVwOGyViGuaxufzeS2i\
  uyQAoCgKXNeFYRhyaCmEXpoMPBRFgaZpsvsmUvtXoyIAoOs6JpNJnuhHXSJaNKjrOgzDACEEgqQWES2bkDHKZZ0kWjYmIoX6\
  /f5XordGRUqI0LiIFBoOh2CMQbiMC6rmRACAEALLsqCqajsk0hhjsG27MhGt+lbPENFnAskYw3Q6zZefD0JIKVHn6YyhFL1e\
  D1EUDe4VU1qnJlmWhcVikbmOEFJIRGsXP0phmmY+GbzGRWSMZrNZKVEjIjLryog6dR9+uVxwOp2y/ng8RhAESJIEhJA1ABCx\
  /cK27coCvu8jiqK713XqEAiBI4BtKyI5F20BrDjn7ayTR62QJAgCxHGMJEmyMVVV89lTrwoHQYAwDK8EACBJEvi+D+kWSrNb\
  BwA8Qoj3kIgkELYS2SfbJk3TTLzb7crFt8ydDG6LlBHcMsdxHtqWad4dXwg2RTfEcYzz+Zz1R6PRYyJxHOfddNPCMMRut7sS\
  qhL434KibGHJ+XfO+bfME/VLfrSXimyFi44lInL+L4ArEtM0b27HVLzd6l5pKDIpxBiD4zjli5FzvpGluoqFYYjj8QjXdaEo\
  SuMfEu9VY/OMyGfV2DRSIGWpYYwVrpvaImEYYr/fg3OOOI5xOBya209yFeFnmqZekiQIgkDO/Sk8tdawde7EzP8/8vvfHnXt\
  s6zOSfs3AJM4OXPfDeodAAAAAElFTkSuQmCC'), auto;
}
.bbcur-effect-ila #wrap-ila {
  cursor: auto;
}
.bwcur-effect-ila {
  cursor: url('data:image/png;base64,\
  iVBORw0KGgoAAAANSUhEUgAAABkAAAAtCAYAAABbAsDYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3Ag\
  SUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEs\
  DIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMB\
  APh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAn\
  f+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7\
  AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHg\
  g/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48\
  PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5\
  WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8/\
  /UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv\
  1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVI\
  HfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPE\
  bDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0\
  JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD\
  5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgX\
  aPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHK\
  CpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGg\
  sV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIp\
  G6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79u\
  p+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYP\
  jGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnu\
  trxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0H\
  DYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRK\
  dPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh\
  7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5\
  QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85\
  ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhO\
  OJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9\
  MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQ\
  N5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWF\
  fevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9W\
  tO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ\
  +7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTra\
  dox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ7\
  52PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L15\
  8Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9D\
  BY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70\
  VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADq\
  YAAAOpgAABdvkl/FRgAAAaFJREFUeNrMlj1ugzAUgL+0OQA3oEegYszQx2myNjcwJ8lRzAUieckSZfAQKSsSB3CHOhFNTRBg\
  UJ7kAQTv+Xv/ANqfjBnF+SNzGXgHVOv5E7BAPRfJbER3EqUUIkLTNFyv1+hEDnA3EZHoROvHF1n2m2SXyyU7n894IhuVJECk\
  opM8EjVNkx4OB5lKFCS5iVJqMtFb3wdpmiIi5Hme+mTIopMEiHR0klnqpE+01oOJXpNkDNEiJCt/G5xzg36s6xpjDKfTqd5u\
  t8a/LqK6K+A2F53kkQigKIoqRDTZyB9lq1Vb7zxGqqoKEkU10kW0HquoHYsnomIVY+/pJbHWYq0lyzKSJAlCAWZSW7m1eK31\
  6LbSSWKMoa5rrJ28Q3Qb2e1295ScKqMbZJIkiAibzSbxY1liLHcacEqpwb1rkVa/DlRpAVQxjSw7foFvH4eka6kEJM/zvYi4\
  /X7/r6a6YtNOYdPjJgPgV1ZEZFBMiraSuQJf8YLyMTQ2Y+aJBeyQ2CySwstW/Ji9AeB4PH6VZfnoszL2RVVg5EYjaSfC0zL4\
  GQAB2lbVH6zS/AAAAABJRU5ErkJggg=='), auto;
}
.bwcur-effect-ila #wrap-ila {
  cursor: auto;
}
.hunderline-effect-ila h1, .hunderline-effect-ila h2, .hunderline-effect-ila h3, .hunderline-effect-ila h4, .hunderline-effect-ila h5, .hunderline-effect-ila h6 {
  border-bottom: 2px solid #000;
}
.tab-highlight-ila *:focus {
  color: #000 !important;
    background-color: yellow !important;
}
.tooltip-ila {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px Arial;
    z-index: 999999;
}

  /* font control styles */
  h1.fzsmall-ila {font-size: 24px !important;}
  h2.fzsmall-ila {font-size: 20px !important;}
  h3.fzsmall-ila {font-size: 19px !important;}
  h4.fzsmall-ila {font-size: 18px !important;}
  h5.fzsmall-ila {font-size: 17px !important;}
  h6.fzsmall-ila {font-size: 16px !important;}
  p.fzsmall-ila {font-size: 12px !important;}
  /* */
  h1.fzmedium-ila {font-size: 36px !important;}
  h2.fzmedium-ila {font-size: 30px !important;}
  h3.fzmedium-ila {font-size: 26px !important;}
  h4.fzmedium-ila {font-size: 22px !important;}
  h5.fzmedium-ila {font-size: 18px !important;}
  h6.fzmedium-ila {font-size: 16px !important;}
  p.fzmedium-ila {font-size: 14px !important;}
  /* */
  h1.fzlarge-ila {font-size: 48px !important;}
  h2.fzlarge-ila {font-size: 40px !important;}
  h3.fzlarge-ila {font-size: 34px !important;}
  h4.fzlarge-ila {font-size: 28px !important;}
  h5.fzlarge-ila {font-size: 22px !important;}
  h6.fzlarge-ila {font-size: 20px !important;}
  p.fzlarge-ila {font-size: 16px !important;}

/* End: accessibility Effects Style */